

// variables, colors, constants, etc.
$siteFontColor: darken(gray, 25%);

// mixins

@mixin backgroundFull($url: '', $colorA: rgba(0, 220, 255, .8), $colorB: rgba(255, 0, 25, .9)) {
  background:linear-gradient($colorA, $colorB ),  url($url);
  background-size:cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color:white;
}

html, body{
font-family: 'Roboto', sans-serif;
width: 100%;
margin:0; padding:0;
color:$siteFontColor;
background: white;
position: relative;
}
*{
  margin:0; padding:0;
}

a{
  color:black;text-decoration: none;
}

a:hover{

}

.contentWrapper{
  position: relative;
  width:100%;
  height: 100%;
}
.siteTitle{
  width:100%;
  overflow: auto;
  max-width: 400px;margin:auto;
  text-align: center;
}
.siteTitle__title{
  font-size:9rem;
  margin-top:5rem;
  color: rgba(255, 255, 255, .8);
  font-family: 'Roboto', sans-serif;
  @media screen and (max-height: 600px){
    margin-top:10rem;
    font-size: 4rem;
  }
}

#wpadminbar{
  display: none;
}
