
nav{
  text-align: center;
  position: fixed;
  top:0;
  padding:.7rem 0;
  z-index:2;
  width: 100%;
  height: 30px;
  color:white;
  background: rgba(0, 0, 0, .54);
}
.navMenuWide{
    display: none;
    text-align: left;
  }
.navMenuWide li{
  display: inline-block;
}
.menuHolder{
  width: 100%;
  text-align: center;
  position: fixed;
  background: white;
  left:-100%;
  height: 100%;
  padding-top:5rem;
  // opacity: 0;
  transition:left .7s;
  z-index: 1;
  color:black;
}
.showMenu{
    left:0;
}
.menuBtn{
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
}
.menu-item{
  list-style-type: none;
  margin: .5rem 0 1.5rem 0;
  position: relative;
  letter-spacing: 8;
}
.menu-item a{
  // color:white;
}
.menuToggle{
  opacity: 1;
  transition: opacity 1.4s;
}

.hideMenuToggle{
  opacity: 0;
}
.menu-item--portfolio{
  position: relative;
  cursor: pointer;
  .sub-menu{
  display: none;
  }
.sub-menu li{
    width: 100%;
    margin:.5rem 0;
    a {
      color:black;
    }
}
  .show-sub-menu{
    display: block;
    top:41px;
  }
}

.menu-item a:after{
  display: block;
  content: '';
  border-bottom: 3px solid black;
  width:40%;
  margin: auto;
  transform: scale(0);
  transition: transform .2s;
}
.menu-item a:hover:after{
  content: '';
    margin-left: auto;
    margin:auto;
    transform: scale(1);
}

@media screen and (min-width: 640px){

  .navMenuWide{
    display: block;
    padding-left: .5rem;
  }
  .navMenuWide li{
    margin: 0 1rem 0 0;
    font-size: .8rem;
    line-height: 2;
    a{
      color: white;
    }
  }
  .nav{
    text-align: left;
  }
  .menuBtn{
    display:none;
  }
  .sub-menu{
    display: inline-block;
    position: absolute;
    top:2.3rem;
    width: 170px;
    margin: auto;
    left: -15px;
    display: none;
    overflow: hidden;
    background: white;
    text-align: center;
    padding:0 .5rem;
  }
  .menu-item a:hover:after{
      width: 100%;
      position: absolute;
  }
  .menu-item a:after{
    border-bottom: 3px solid white;
  }

}
